.filter_brand{
    background-color: #0F0F0F;
    width: auto;
}

.menu_dis{
    background-color: #0F0F0F;
    color: white;
}

.radio_input{
    border: white;
}

.brand_name{
    color: white;
}

.grid{
    background-color: #0F0F0F;
}

@media all and (max-width: 600px) {
    .filter_brand{
        display: none;
    }
}